html {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  background-color: var(--THEME-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user--container {
  height: 300px;
  width: 500px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user--container h1 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

.user--container .btn {
  padding-block: 0.7em;
  font-family: inherit;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.user--details--container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.user--details--container img {
  height: 140px;
  width: 140px;
  border-radius: 150px;
}

.user--details--container .user--info {
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 0.9em;
}

.user--info p span:first-child {
  font-weight: bold;
}
